services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: hoobi-landing-page
    container_name: hoobi-landing-page
    ports:
      - "3000:3000"
    restart: always
    environment:
      - NODE_ENV=production
