services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: homie-landing-page
    container_name: homie-landing-page
    ports:
      - "3000:3000"
    restart: always
    environment:
      - NODE_ENV=production
